/* line 3, /Users/wwnnbb/Documents/code/www/omegadm/app/scss/app.scss */
.content-navigation {
  border-color: #3bbfce;
  color: #2ca2af; }

/* line 9, /Users/wwnnbb/Documents/code/www/omegadm/app/scss/app.scss */
.border {
  padding: 8px;
  margin: 8px;
  border-color: #3bbfce; }
