<div class="row" ng-controller='ProfileCtr'>
  <div class="twelve columns">
    <table>
      <tbody>
      <tr>
        <td> Электронная почта </td>
        <td> {@data.email@} </td>
      </tr>
      <tr>
        <td> Имя </td>
        <td> {@data.first_name@} </td>
      </tr>
      <tr>
        <td> Фамилия </td>
        <td> {@data.last_name@} </td>
      </tr>
      <tr>
        <td> Дата регистрации </td>
        <td> {@data.date_joined@} </td>
      </tr>
      <tr>
        <td>Компания</td>
        <td>{@company.name@}</td>
      </tr>
      <tr>
        <td>Адрес компании:</td>
        <td>{@company.allocation@}</td>
      </tr>
      <tr>
        <td>Телефон компании</td>
        <td>{@company.phone@}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
