<!doctype html>
<html class="no-js" lang="en" ng-app='app'>
<head>
{% load staticfiles %}

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>DM-Project test account case</title>

<link rel="stylesheet" href="{% static 'components/foundation-icons/foundation-icons.css' %}" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'components/datetimepicker-master/jquery.datetimepicker.css' %}" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.2.0/css/foundation.min.css">
</head>

<body ng-cloak >
<!--[if lte IE 7]><h3 style="background: #aa2c2c">Вы используете устаревший браузер, некоторые страницы могут работать некорректно. Узнайте более подробно -> <a href="http://www.whatbrowser.org/intl/ru/">ссылка</a>.</h1><![endif]-->
<style>
    .size-12 { font-size: 12px; }
    .size-14 { font-size: 14px; }
    .size-16 { font-size: 16px; }
    .size-18 { font-size: 18px; }
    .size-21 { font-size: 21px; }
    .size-24 { font-size: 24px; }
    .size-36 { font-size: 36px; }
    .size-48 { font-size: 48px; }
    .size-60 { font-size: 60px; }
    .size-72 { font-size: 72px; }
    .green { color: #2C761C }
    .red { color: #AA2C2C }
</style>

<div ng-controller="AppCtr">
    <top-bar>
        <!-- Лого -->
        <ul class="title-area">
            <li class="name">
                <h1><a href="#/">dm-project</a></h1>
            </li>
        </ul>

        <top-bar-section>
            <!-- Пользовательская секция интерфейса -->
            <ul class="right">
                <li has-dropdown has-permission="customer">
                    <a href="#/profile">Профиль</a>
                    <ul top-bar-dropdown>
                        <li><a href="#/orders">Заказы</a></li>
                        <li><a href="#/express-tariff">Цены</a></li>
                        <li ng-controller="AuthenticationCtr"><a href ng-click="logout()">Выход</a></li>
                    </ul>
                </li>
            </ul>

            <!-- Административная секция интерфейса -->
            <ul class="left" has-permission="staff">
                <li has-dropdown>
                    <a href="#">Администрирование</a>
                    <ul top-bar-dropdown>
                        <li><a href="#/customers">Пользователи</a></li>
                        <li><a href="#/companies">Компании</a></li>
                        <li ng-controller="AuthenticationCtr"><a href ng-click="logout()">Выход</a></li>
                    </ul>
                </li>
                <li class="has-form"><a href="#/notifications">Оповещения {@notify@}</a>
                </li>
            </ul>
        </top-bar-section>
    </top-bar>

    <!-- МАГИЯ аутентификации НАЧИНАЕТСЯ ПРЯМО ПОД НАМИ  -->
    <div auth-application>
        <div id="login-holder">
            <login />
        </div>

        <div id="main">
            <div ng-view></div>
        </div>
    </div>

</div>

<script src="{% static 'js/libs/other/jquery-2.1.1.min.js' %}"></script>

<script src="{% static 'components/datetimepicker-master/jquery.datetimepicker.js' %}"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.js"></script>
<script src="{% static 'js/libs/angular/angular-cookies.min.js' %}"></script>
<script src="{% static 'js/libs/angular/angular-loader.min.js' %}"></script>
<script src="{% static 'js/libs/angular/angular-route.min.js' %}"></script>
<script src="{% static 'js/libs/angular/angular-sanitize.min.js' %}"></script>
<script src="{% static 'js/libs/angular/angular-file-upload.js' %}"></script>
<script src="{% static 'js/libs/angular/underscore-min.js' %}"></script>
<script src="{% static 'js/libs/angular/restangular.min.js' %}"></script>
<script src="{% static 'js/libs/angular/mm-foundation-tpls-0.3.1.min.js' %}"></script>

<script src="{% static 'js/libs/other/autofill-event.js' %}"></script>
<script src="{% static 'js/libs/other/jquery.datetimepicker.js' %}"></script>

<script src="{% static 'js/libs/angular/http-auth-interceptor.js' %}"></script>
<script src="{% static 'js/libs/angular/angular-local-storage.js' %}"></script>

<script src="{% static 'js/libs/other/papaparse.min.js' %}"></script>
<script type="application/javascript" src="{% static 'js/app.js' %}"> </script>
<link rel="stylesheet" href="{% static 'css/zurb5-multiselect.css' %}"/>

</body>
</html>
