<div class='row' ng-controller='OrderDetailCtr'>
    <div class="large-12 columns">
        <table>
            <tr><td>ID</td><td>{@order.id@}</td></tr>
            <tr><td>№ Заказа</td><td>{@order.order_container@}</td></tr>
            <tr><td>Комментарий</td><td>{@order.comment@}</td></tr>
            <tr><td>Способ оплаты</td><td>{@order.payer@}</td></tr>
            <tr><td>Вес</td><td>{@order.weight@}</td></tr>
            <tr><td>Длина</td><td>{@order.dimension_x@}</td></tr>

            <tr><td>Ширина</td><td>{@order.dimension_y@}</td></tr>

            <tr><td>Высота</td><td>{@order.dimension_z@}</td></tr>

            <tr><td>Адрес получателя</td><td>{@order.recipeint_adress@}</td></tr>
            <tr><td>Адрес отправителя</td><td>{@order.sender_adress@}</td></tr>
            <tr><td>Тип отправления</td><td>{@order.is_docs@}</td></tr>
            <tr><td>Время отправления</td><td>{@order.order_datetime@}</td> </tr>
            <tr><td>Время создания заявки</td><td>{@order.creater_datetime@}</td> </tr>
        </table>
    </div>
</div>
