@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;500;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-shadow-default {
    color: rgba(250,10,10, 0.8);
    text-shadow: 1px 4px 6px #e1d5c9, 0 0 0 #000, 1px 4px 6px #e1d5c9;
  }
  .text-shadow-dark {
    color: rgba(250,10,10, 0.8);
    text-shadow: 1px 4px 6px #002b36, 0 0 0 #0f0, 1px 4px 6px #002b36;
  }
  .menu-shadow-white {
    box-shadow: 0px -10px 10px 0px #F5F4F3;
  }
  .menu-shadow-unset {
    box-shadow: unset;
  }
  .disable-outline {
    touch-action: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    outline: none;
  }
  .disable-outline:focus {
    outline: none;
  }
}

#root {
  min-height: 90vh;
}

@media (min-width: 1024px) { /* Large screens */
  .footer-lg {
    width: calc(100vw / 12);
  }
}

@media (min-width: 1440px) { html {
    font-size: 16px;
  }
}

@media (min-width: 1080px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 1920px) {
  html {
    font-size: 20px;
  }
}


/* dark mode code color pre tag should be solirized light background */
@media (prefers-color-scheme: dark) {
  pre {
    color: #bdbaa8;
    background-color: #0A3946 !important;
  }
  pre > div > div {
    background-color: #0A3946 !important;
  }
}
/* light mode code color pre tag should be solirized dark background */
/* also text should match solirized dark */
@media (prefers-color-scheme: light) {
  pre {
    background-color: #D2C4B7 !important;
  }
  pre > div > div {
    background-color: #D2C4B7 !important;
  }
}

pre {
  margin-top: 8rem;
  width: 100%; /* Makes the code container fit the width of its parent */
  overflow-x: auto; /* Enables horizontal scrolling for content that is too wide */
  white-space: pre;
}

pre code {
  font-size: 2.5rem;
  width: 100%; /* Makes the code container fit the width of its parent */
  overflow-x: auto; /* Enables horizontal scrolling */
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

pre svg {
  font-size: 3.5rem !important;
}

.markdown-text {
  font-family: 'Inter', sans-serif;
  font-size: 2.5rem;
}

.markdown-text h1 {
  margin-top: 8rem;
  font-size: 4.5rem;
  line-height: 6.5rem;
  font-weight: 800;
  padding-bottom: 1rem;
}

.markdown-text h2 {
  margin-top: 8rem;
  font-size: 4rem;
  line-height: 4.5rem;
  font-weight: 800;
  padding-bottom: 1rem;
}

.markdown-text h3 {
  margin-top: 8rem;
  font-size: 3.5rem;
  line-height: 3.5rem;
  font-weight: 800;
}

.markdown-text h4 {
  margin-top: 8rem;
  font-size: 3.25rem;
  line-height: 3.5rem;
  font-weight: 800;
}

.markdown-text h5 {
  margin-top: 8rem;
  font-size: 3rem;
  line-height: 3.5rem;
  font-weight: 800;
}

.markdown-text p {
  font-size: 3.0rem;
  line-height: 4.5rem;
  font-weight: 400;
  margin-top: 8rem;
}

.markdown-text a {
  font-size: 3.0rem;
  line-height: 3.5rem;
  font-weight: 400;
}

.markdown-text ul, ol {
  font-size: 3.0rem;
  line-height: 4.5rem;
  font-weight: 400;
  margin-top: 8rem;
}

.markdown-text pre {
  z-index: -1;
  position: relative;
}

@media screen and (min-width: 1024px) {
  .markdown-text {
    font-size: 1.4rem; /* 20% decrease from 1.75rem */
  }

  .markdown-text h1 {
    font-size: 2.52rem; /* 20% decrease from 3.15rem */
    line-height: 3.64rem; /* Adjusted proportionally */
    margin-top: 4rem;
  }

  .markdown-text h2 {
    font-size: 2.24rem; /* 20% decrease from 2.8rem */
    line-height: 2.52rem; /* Adjusted proportionally */
    margin-top: 4rem;
  }

  .markdown-text h3 {
    font-size: 1.96rem; /* 20% decrease from 2.45rem */
    line-height: 1.96rem; /* Adjusted proportionally */
    margin-top: 4rem;
  }

  .markdown-text h4 {
    font-size: 1.82rem; /* 20% decrease from 2.275rem */
    line-height: 1.96rem; /* Adjusted proportionally */
    margin-top: 4rem;
  }

  .markdown-text h5 {
    font-size: 1.68rem; /* 20% decrease from 2.1rem */
    line-height: 1.96rem; /* Adjusted proportionally */
    margin-top: 4rem;
  }

  .markdown-text p {
    margin-top: 3rem;
    font-size: 1.68rem; /* 20% decrease from 2.1rem */
    line-height: 2.52rem; /* Adjusted proportionally */
  }

  .markdown-text a {
    font-size: 1.68rem; /* 20% decrease from 2.1rem */
    line-height: 1.96rem; /* Adjusted proportionally */
  }

  .markdown-text ul, ol {
    font-size: 1.68rem; /* 20% decrease from 2.1rem */
    line-height: 2.52rem; /* Adjusted proportionally */
  }

  pre code {
    font-size: 0.88rem; /* 20% decrease from 1.1rem */
    line-height: 0.92rem; /* Adjusted proportionally */
  }
  pre {
    margin-top: 2rem;
    border-radius: 0.5rem;
    width: 100%; /* Makes the code container fit the width of its parent */
    overflow-x: auto; /* Enables horizontal scrolling for content that is too wide */
    white-space: pre;
  }
  pre svg {
    font-size: 1.5rem !important;
  }
}

pre > div > div {
  padding: 1rem !important;
  margin: unset !important;
}
